# Klasifikasi Gender by Height and Weight

In [59]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
import joblib

In [60]:
df = pd.read_csv('datasets/weight-height2.csv')

In [61]:
df.tail()

      Gender     Height      Weight
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

## Convert Height ke dalam Cm dan Weight ke dalam Kg

Karena format height masih dalam inch dan weight masih dalam lbs maka perlu diconver dulu agar sesuai dengan standar satuan orang indonesia

In [62]:
df.Height = df.Height * 2.54
df.Weight = df.Weight * 0.45359237

In [63]:
df.head(10)

  Gender      Height      Weight
0   Male  187.571423  109.721075
1   Male  174.706036   73.622792
2   Male  188.239668   96.497629
3   Male  182.196685   99.809586
4   Male  177.499761   93.598695
5   Male  170.822660   69.042272
6   Male  174.714106   83.428287
7   Male  173.605229   76.190414
8   Male  170.228132   79.800252
9   Male  161.179495   70.941700

In [64]:
df.tail(10)

      Gender      Height     Weight
9990  Female  160.475926  64.077225
9991  Female  159.097154  46.653592
9992  Female  157.677693  62.909488
9993  Female  152.477302  44.310274
9994  Female  150.109555  50.135422
9995  Female  168.078536  62.041210
9996  Female  170.350573  77.504378
9997  Female  162.224700  58.275424
9998  Female  175.346978  74.322226
9999  Female  157.338385  51.550366

In [65]:
df.Gender.value_counts()

Male      5000
Female    5000
Name: Gender, dtype: int64

## SCaling and Labeling Atribut

In [66]:
std_scaler = StandardScaler()
label_enc = LabelEncoder()

In [67]:
df.iloc[:, 1:3] = std_scaler.fit_transform(df.iloc[:, 1:3])
df.Gender = label_enc.fit_transform(df.Gender)

In [68]:
df.tail()

      Gender    Height    Weight
9995       0 -0.050660 -0.768151
9996       0  0.181839  0.293631
9997       0 -0.649688 -1.026730
9998       0  0.693125  0.075127
9999       0 -1.149708 -1.488507

In [69]:
X = df.iloc[:, 1:3]
y = df.iloc[:,:1]

## Training Model

In [70]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.25)

model =  LogisticRegression().fit(X_train, y_train)

C:\Users\ahnaf\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [71]:
accuracy = model.score(X_test, y_test)
print(f"Akurasi Model : {accuracy *100}%")

Akurasi Model : 92.32000000000001%

## Save Model

In [72]:
joblib.dump((model, std_scaler), "Gender-classification-using-logistic-regression.pkl")

['Gender-classification-using-logistic-regression.pkl']